# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp files
*.*̃
*-cb.*
*.cbp
*.cscope_file_list
*.depend
*.layout
LICENSE

# yaamake
*~
*.tmp
*.o
*.i
*.m
*.s
*.hex
*.elf
*.eep
*.lss
*.map
*.sym
*.lst
.cache/
